@model Loanity.Domain.Dtos.UserDto
@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="RoleId" class="form-label"></label>
        <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    

   @*  <button class="btn btn-primary">Create</button> *@
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Read" class="btn btn-secondary">Cancel</a>
</form>
