@model Loanity.Domain.Entities.Role
@{
    ViewData["Title"] = "Edit Role";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a asp-action="Read" class="btn btn-secondary">Cancel</a>
</form>
